body{
    background-color: rgba(245, 245, 241, 1);
    color: rgba(109, 103, 96, 1);
    font-family: 'Montaga',serif;
}

.container_cards{
    width: 60%;
    margin: 3rem auto;
}

.card{
    width: calc(100% / 3 - 1rem);
}